<div class="form-group">
    <select name="season" class="form-control">
        <option value="2015">Season 5</option>
        <option value="2016" selected="">Season 6</option>
        <option value="2017" selected="">Season 7</option>
    </select>
</div>